<div>
  <table class="w-full my-2 text-center">
    <tr class="text-center text-lg bg-green-500 text-white w-full rounded h-16">
      <th>Id</th>
      <th>Value</th>
      <th>Sensor</th>
      <th>Date</th>
    </tr>
    <div id="sensors_logs_display"></div>
  </table>
</div>