<div id="<%= dom_id plant %>">
  <p>
    <strong>Name:</strong>
    <%= plant.name %>
  </p>
  <p>
    <strong>Variety:</strong>
    <%= plant.variety %>
  </p>
  <a href="/plants/<%= plant.id %>">Show more</a>

</div>
